/*GLOBAL VARIABLES*/

:root{
    --main-bg-color:#F4F4F4;
    --main-bg-color:#4169E1; /*royal blue*/
    --area-color:#FFFFF0;
    --area-color:#4717F6; /*jewell*/
    --area-color:#2251dd;
    --link-color:#778899;
    --link-color:#DAA520; /*GoldenRod*/
    --accent-color:#417C81;
    --text-color:#C0B283; /*gold*/
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin-bottom: 0;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--accent-color);
}

body {
    background-color: var(--main-bg-color);
    /*font-family: 'Open Sans', helvetica, arial, sans;*/
    font-weight: bold;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    line-height: 1.2;
}

h1, h2, h3 {
    font-family: "Century Gothic", CenturyGothic,'Open Sans', helvetica, arial, sans;
}

/* AREA STYLES */
.headerArea {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin-bottom: 40px;
    margin-left: 20px;
}
.challengesHeaderArea {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin-bottom: 0;
    margin-left: 20px;
}
.challengesArea {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    margin-top: 0;
    padding-top: 0;
}
.challengeContainer {
    background-color: var(--area-color);
    color: var(--text-color);
    margin: 10px;
    padding: 10px;
    padding-top: 0;
}
.challengeHeader {

}
.challengeDescription {

}
.challengeLink {

}
.footerArea {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin-left: 20px;
    margin-bottom: 40px;
}
