/* GLOBAL STYLES */
body {
    background-color: cyan;
}

/* AREA STYLES */
.headerArea {
    background-color: lightgreen;
}
.challengesHeaderArea {
    background-color: red;
}
.challengesArea {
    background-color: grey;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
}
.challengeContainer {
    background-color: lightblue;
    margin: 10px;
}
.challengeHeader {

}
.challengeDescription {

}
.challengeLink {

}
.footerArea {
    background-color: lavender;
}
