/*GLOBAL VARIABLES*/

:root{
    --main-bg-color:#F4F4F4; /*Very light gray*/
    --main-bg-color:#4169E1; /*royal blue*/
    --main-bg-color:#0B3C5D; /*prussian blue*/
    --main-bg-color:#1a538f; /*dark blue*/
    --area-color:#FFFFF0; /*Very pale yellow.*/
    --area-color:#4717F6; /*jewell*/
    --area-color:#2251dd; /*Bright blue*/
    --area-color:#328CC1; /*sky blue*/
    --area-color:#cce6ff; /*Very pale blue.*/
    --area-color:#1D2731; /*ivory black*/
    --area-color:#0B3C5D; /*prussian blue*/
    --link-color:#778899; /*Dark grayish blue.*/
    --link-color:#DAA520; /*GoldenRod*/
    --accent-color:#417C81; /*Dark moderate cyan*/
    --text-color:#C0B283; /*gold*/
    --secondary-text-color:#373737; /*charcoal*/
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--accent-color);
}

/*It is important to remember that the background-image is being set from the CSS file,
therefore the path to the image is relative to the location of the CSS file, not the HTML file.*/

body {
    background-color: var(--main-bg-color);
    font-weight: bold;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 2rem;
    line-height: 1.3;
    background-image: url("../img/Beach1600x1200.jpg");
    background-size: cover;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Great Vibes', cursive;
    color: var(--text-color);
}

#Register_Checkbox {
    display: none;
}

label:hover {
    color: var(--text-color);
    font-size: 2.1rem;
}



/* AREA STYLES */
.Title {
/*background-color: red;*/
}

.Registration {
border: 2px solid;
border-radius: 10px;
color:var(--secondary-text-color);
padding: 10px;
}

#Registered {
/*background-color: yellow;*/
font-size: 4rem;
}


@media only screen and (orientation: portrait) {

    body {
        background-image: url("../img/Beach500x1200.jpg");
        background-size: cover;
    }

}
